# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg info
*.egg-info/
*.egg

# Distribution / packaging
build/
dist/
*.tar.gz
*.whl

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Results / outputs
results/
